/*Welcome page*/

.welc_link{
  display: block;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18%;
  width: 53%;
  position: static;
}

img.logo_full{
  padding: 0px;
  border: 0px;
  width: 45%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 1s;
}

img.logo_full:hover{
  transition-duration: 1s;
  width: 60%;
}

hr.bar{
  margin-top: 3px;
  border: 1px solid #aaa;
  width:35%;
  text-align: center;
}

.statut{
  margin-top: -2px;
  font-family: 'Montserrat';
  font-size: 180%;
  color: #aaa;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  transition-duration: 1s;

}

.statut:hover{
  font-size: 210%;
  transition-duration: 1s;

}

/*Menu*/

ul.menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgba(50, 50, 50, 8%);
  height: 75px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

li.items{
  display: inline;
  float: right;
  display: block;
  padding: 10px;
  margin-right: 8px; 
  margin-top: 0.5em;
  transition-duration: 0.5s;
}

li.items:hover
{
  margin-top: 0.2em;
  transition-duration: 0.5s;
}

a{
  font-family: 'Montserrat';
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}

a.active{
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #fff;
}

img.navbar_logo{
  height: 80%;
  margin-left: 10px;
  margin-top: 0.5em;
  margin-right: 30px;
  float: left;
  display: inline;
}



/*Main page*/
